

.container {
    width: 100%;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.tabs {
    display: flex;
    border-bottom: 2px solid #ddd;
}

.tab {
    flex: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 100%;
    color: #666;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.tab i {
    font-size: 18px;
}

.tab.active {
    color: #7152F3;
    border-bottom: 3px solid #7152F3;
}

.form-container {
    padding: 20px 10px;
}

.form-section {
    display: none;
}

.form-section.active {
    display: block;
}

.photo-upload {
    display: flex;
    margin-bottom: 15px;
}

.upload-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background: #f3f3f3;
    border-radius: 20%;
    cursor: pointer;
    font-size: 130%;
    transition: background 0.3s ease;
}

.upload-box i {
    font-size: 24px;
    color: #666;
    transition: color 0.3s ease;
}

/* Hover Effect */
.upload-box:hover {
    background:#7152F3;
}

.upload-box:hover i {
    color: white;
}

.preview-image {
    margin-left: -70px;
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 20%;
    border: 1px solid #ccc;
}


.input-group {
    display: flex;
    flex-direction: column; 
    gap: 5px;
    width: 50%;
}

.group {
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.label {
    font-size: 100%;
    color: #aaa;
    margin-left: 3px;
}

input, select {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancel {
    background: #ddd;
}

.next, .submit {
    background: #7152F3;
    color: white;
}

.prev {
    background: #888;
    color: white;
}


